/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --alds-color-content-utility-error-active: var(--alds-color-utility-red-500);
  --alds-color-content-utility-error-hover: var(--alds-color-utility-red-600);
  --alds-color-content-utility-error-focus: var(--alds-color-utility-red-400);
  --alds-color-content-utility-error-pressed: var(--alds-color-utility-red-700);
  --alds-color-content-utility-error-subtle: var(--alds-color-utility-red-800);
  --alds-color-content-utility-success-active: var(--alds-color-utility-green-500);
  --alds-color-content-utility-success-hover: var(--alds-color-utility-green-600);
  --alds-color-content-utility-success-focus: var(--alds-color-utility-green-400);
  --alds-color-content-utility-success-pressed: var(--alds-color-utility-green-700);
  --alds-color-content-utility-success-subtle: var(--alds-color-utility-success-800);
  --alds-color-content-utility-warning-active: var(--alds-color-utility-orange-500);
  --alds-color-content-utility-warning-hover: var(--alds-color-utility-orange-600);
  --alds-color-content-utility-warning-focus: var(--alds-color-utility-orange-400);
  --alds-color-content-utility-warning-pressed: var(--alds-color-utility-orange-700);
  --alds-color-content-utility-warning-subtle: var(--alds-color-utility-orange-800);
  --alds-color-content-utility-info-active: var(--alds-color-utility-gray-500);
  --alds-color-content-utility-info-hover: var(--alds-color-utility-gray-600);
  --alds-color-content-utility-info-focus: var(--alds-color-utility-gray-400);
  --alds-color-content-utility-info-pressed: var(--alds-color-utility-gray-700);
  --alds-color-content-utility-info-subtle: var(--alds-color-utility-gray-800);
  --alds-color-content-secondary-blue: var(--alds-color-utility-blue-500);
  --alds-color-content-secondary-pink: var(--alds-color-utility-pink-500);
  --alds-color-content-secondary-purple: var(--alds-color-utility-purple-500);
  --alds-color-content-secondary-indigo: var(--alds-color-utility-indigo-500);
  --alds-color-content-secondary-rose: var(--alds-color-utility-rose-500);
  --alds-color-content-disabled-error: var(--alds-color-utility-red-200);
  --alds-color-content-disabled-success: var(--alds-color-utility-green-200);
  --alds-color-content-disabled-warning: var(--alds-color-utility-orange-200);
  --alds-color-content-disabled-info: var(--alds-color-utility-gray-200);
  --alds-color-content-disabled-default: var(--alds-color-neutral-400);
  --alds-color-content-disabled-brand: var(--alds-color-brand-yellow-800);
  --alds-color-content-transparent-primary: var(--alds-color-transparent-black-900);
  --alds-color-content-transparent-secondary: var(--alds-color-transparent-black-800);
  --alds-color-content-transparent-tertiary: var(--alds-color-transparent-black-700);
  --alds-color-content-brand-primary-active: var(--alds-color-brand-yellow-500);
  --alds-color-content-brand-primary-hover: var(--alds-color-brand-yellow-600);
  --alds-color-content-brand-primary-focus: var(--alds-color-brand-yellow-400);
  --alds-color-content-brand-primary-pressed: var(--alds-color-brand-yellow-700);
  --alds-color-content-brand-primary-subtle: var(--alds-color-brand-yellow-100);
  --alds-color-content-brand-secondary-hover: var(--alds-color-brand-yellow-600);
  --alds-color-content-brand-secondary-active: var(--alds-color-brand-yellow-700);
  --alds-color-content-brand-secondary-focus: var(--alds-color-brand-yellow-500);
  --alds-color-content-brand-secondary-pressed: var(--alds-color-brand-yellow-500);
  --alds-color-content-brand-secondary-subtle: var(--alds-color-brand-yellow-700);
  --alds-color-content-default-primary-hover: var(--alds-color-neutral-300);
  --alds-color-content-default-primary-active: var(--alds-color-neutral-100);
  --alds-color-content-default-primary-focus: var(--alds-color-neutral-200);
  --alds-color-content-default-primary-pressed: var(--alds-color-neutral-400);
  --alds-color-content-default-primary-subtle: var(--alds-color-neutral-500);
  --alds-color-content-default-secondary-hover: var(--alds-color-neutral-400);
  --alds-color-content-default-secondary-active: var(--alds-color-neutral-300);
  --alds-color-content-default-secondary-focus: var(--alds-color-neutral-500);
  --alds-color-content-default-secondary-pressed: var(--alds-color-neutral-600);
  --alds-color-content-default-secondary-subtle: var(--alds-color-neutral-600);
  --alds-color-content-default-placeholder-hover: var(--alds-color-neutral-600);
  --alds-color-content-default-placeholder-active: var(--alds-color-neutral-700);
  --alds-color-content-default-placeholder-focus: var(--alds-color-neutral-600);
  --alds-color-content-default-placeholder-pressed: var(--alds-color-neutral-500);
  --alds-color-content-knockout-black: var(--alds-color-neutral-black);
  --alds-color-content-knockout-white: var(--alds-color-neutral-white);
  --alds-color-background-default-primary-hover: var(--alds-color-neutral-700);
  --alds-color-background-default-primary-active: var(--alds-color-neutral-900);
  --alds-color-background-default-primary-focus: var(--alds-color-neutral-800);
  --alds-color-background-default-primary-pressed: var(--alds-color-neutral-600);
  --alds-color-background-default-primary-subtle: var(--alds-color-neutral-800);
  --alds-color-background-default-secondary-hover: var(--alds-color-neutral-600);
  --alds-color-background-default-secondary-active: var(--alds-color-neutral-800);
  --alds-color-background-default-secondary-focus: var(--alds-color-neutral-700);
  --alds-color-background-default-secondary-pressed: var(--alds-color-neutral-500);
  --alds-color-background-default-secondary-subtle: var(--alds-color-neutral-900);
  --alds-color-background-gradient-primary-100: var(--alds-color-gradient-orange-100);
  --alds-color-background-gradient-primary-200: var(--alds-color-gradient-orange-200);
  --alds-color-background-gradient-secondary-100: var(--alds-color-gradient-yellow-100);
  --alds-color-background-gradient-secondary-200: var(--alds-color-gradient-yellow-200);
  --alds-color-background-gradient-secondary-300: var(--alds-color-gradient-yellow-300);
  --alds-color-background-brand-primary-hover: var(--alds-color-brand-yellow-600);
  --alds-color-background-brand-primary-active: var(--alds-color-brand-yellow-500);
  --alds-color-background-brand-primary-focus: var(--alds-color-brand-yellow-400);
  --alds-color-background-brand-primary-pressed: var(--alds-color-brand-yellow-700);
  --alds-color-background-brand-primary-subtle: var(--alds-color-brand-yellow-100);
  --alds-color-background-brand-secondary-hover: var(--alds-color-brand-yellow-600);
  --alds-color-background-brand-secondary-active: var(--alds-color-brand-yellow-800);
  --alds-color-background-brand-secondary-focus: var(--alds-color-brand-yellow-700);
  --alds-color-background-brand-secondary-pressed: var(--alds-color-brand-yellow-500);
  --alds-color-background-brand-secondary-subtle: var(--alds-color-brand-yellow-700);
  --alds-color-background-disabled-error: var(--alds-color-utility-red-100);
  --alds-color-background-disabled-success: var(--alds-color-utility-green-100);
  --alds-color-background-disabled-warning: var(--alds-color-utility-orange-100);
  --alds-color-background-disabled-info: var(--alds-color-utility-gray-100);
  --alds-color-background-disabled-brand: var(--alds-color-brand-yellow-200);
  --alds-color-background-disabled-default: var(--alds-color-neutral-800);
  --alds-color-background-utility-error-active: var(--alds-color-utility-red-400);
  --alds-color-background-utility-error-hover: var(--alds-color-utility-red-500);
  --alds-color-background-utility-error-focus: var(--alds-color-utility-red-500);
  --alds-color-background-utility-error-pressed: var(--alds-color-utility-red-600);
  --alds-color-background-utility-error-subtle: var(--alds-color-utility-red-100);
  --alds-color-background-utility-success-active: var(--alds-color-utility-green-400);
  --alds-color-background-utility-success-hover: var(--alds-color-utility-green-500);
  --alds-color-background-utility-success-focus: var(--alds-color-utility-green-500);
  --alds-color-background-utility-success-pressed: var(--alds-color-utility-green-600);
  --alds-color-background-utility-success-subtle: var(--alds-color-utility-green-100);
  --alds-color-background-utility-warning-active: var(--alds-color-utility-orange-400);
  --alds-color-background-utility-warning-hover: var(--alds-color-utility-orange-500);
  --alds-color-background-utility-warning-focus: var(--alds-color-utility-orange-500);
  --alds-color-background-utility-warning-pressed: var(--alds-color-utility-orange-600);
  --alds-color-background-utility-warning-subtle: var(--alds-color-utility-orange-100);
  --alds-color-background-utility-info-active: var(--alds-color-utility-gray-400);
  --alds-color-background-utility-info-hover: var(--alds-color-utility-gray-500);
  --alds-color-background-utility-info-focus: var(--alds-color-utility-gray-500);
  --alds-color-background-utility-info-pressed: var(--alds-color-utility-gray-600);
  --alds-color-background-utility-info-subtle: var(--alds-color-utility-gray-100);
  --alds-color-background-transparent-primary: var(--alds-color-transparent-black-1000);
  --alds-color-background-transparent-secondary: var(--alds-color-transparent-black-700);
  --alds-color-background-transparent-tertiary: var(--alds-color-transparent-black-400);
  --alds-color-background-knockout-white: var(--alds-color-neutral-white);
  --alds-color-background-knockout-black: var(--alds-color-neutral-black);
  --alds-color-border-brand-primary-active: var(--alds-color-brand-yellow-500);
  --alds-color-border-brand-primary-hover: var(--alds-color-brand-yellow-600);
  --alds-color-border-brand-primary-focus: var(--alds-color-brand-yellow-400);
  --alds-color-border-brand-primary-pressed: var(--alds-color-brand-yellow-700);
  --alds-color-border-brand-primary-subtle: var(--alds-color-brand-yellow-100);
  --alds-color-border-brand-secondary-active: var(--alds-color-brand-yellow-700);
  --alds-color-border-brand-secondary-hover: var(--alds-color-brand-yellow-800);
  --alds-color-border-brand-secondary-focus: var(--alds-color-brand-yellow-600);
  --alds-color-border-brand-secondary-pressed: var(--alds-color-brand-yellow-500);
  --alds-color-border-brand-secondary-subtle: var(--alds-color-brand-yellow-900);
  --alds-color-border-default-primary-hover: var(--alds-color-neutral-600);
  --alds-color-border-default-primary-active: var(--alds-color-neutral-800);
  --alds-color-border-default-primary-focus: var(--alds-color-neutral-700);
  --alds-color-border-default-primary-pressed: var(--alds-color-neutral-500);
  --alds-color-border-default-primary-subtle: var(--alds-color-neutral-900);
  --alds-color-border-default-secondary-active: var(--alds-color-neutral-600);
  --alds-color-border-default-secondary-hover: var(--alds-color-neutral-400);
  --alds-color-border-default-secondary-focus: var(--alds-color-neutral-500);
  --alds-color-border-default-secondary-pressed: var(--alds-color-neutral-300);
  --alds-color-border-default-secondary-subtle: var(--alds-color-neutral-800);
  --alds-color-border-disabled-default: var(--alds-color-neutral-800);
  --alds-color-border-disabled-info: var(--alds-color-utility-gray-200);
  --alds-color-border-disabled-warning: var(--alds-color-utility-orange-200);
  --alds-color-border-disabled-success: var(--alds-color-utility-green-200);
  --alds-color-border-disabled-error: var(--alds-color-utility-red-200);
  --alds-color-border-disabled-brand: var(--alds-color-brand-yellow-800);
  --alds-color-border-utility-error-active: var(--alds-color-utility-red-400);
  --alds-color-border-utility-error-hover: var(--alds-color-utility-red-600);
  --alds-color-border-utility-error-focus: var(--alds-color-utility-red-500);
  --alds-color-border-utility-error-pressed: var(--alds-color-utility-red-700);
  --alds-color-border-utility-error-subtle: var(--alds-color-utility-red-800);
  --alds-color-border-utility-success-active: var(--alds-color-utility-green-400);
  --alds-color-border-utility-success-hover: var(--alds-color-utility-green-600);
  --alds-color-border-utility-success-focus: var(--alds-color-utility-green-500);
  --alds-color-border-utility-success-pressed: var(--alds-color-utility-green-700);
  --alds-color-border-utility-success-subtle: var(--alds-color-utility-success-800);
  --alds-color-border-utility-warning-active: var(--alds-color-utility-orange-400);
  --alds-color-border-utility-warning-hover: var(--alds-color-utility-orange-600);
  --alds-color-border-utility-warning-focus: var(--alds-color-utility-orange-500);
  --alds-color-border-utility-warning-pressed: var(--alds-color-utility-orange-700);
  --alds-color-border-utility-warning-subtle: var(--alds-color-utility-orange-800);
  --alds-color-border-utility-info-active: var(--alds-color-utility-gray-400);
  --alds-color-border-utility-info-hover: var(--alds-color-utility-gray-600);
  --alds-color-border-utility-info-focus: var(--alds-color-utility-gray-500);
  --alds-color-border-utility-info-pressed: var(--alds-color-utility-gray-700);
  --alds-color-border-utility-info-subtle: var(--alds-color-utility-gray-800);
  --alds-color-border-secondary-blue: var(--alds-color-utility-blue-500);
  --alds-color-border-secondary-pink: var(--alds-color-utility-pink-500);
  --alds-color-border-secondary-purple: var(--alds-color-utility-purple-500);
  --alds-color-border-secondary-indigo: var(--alds-color-utility-indigo-500);
  --alds-color-border-secondary-rose: var(--alds-color-utility-rose-500);
  --alds-color-border-knockout-white: var(--alds-color-neutral-white);
  --alds-color-border-knockout-black: var(--alds-color-neutral-black);
  --alds-color-surface-main: var(--alds-color-neutral-black);
  --alds-color-content-secondary-lime: var(--alds-color-utility-lime-500);
  --alds-color-content-secondary-green: var(--alds-color-utility-green-500);
  --alds-color-background-gradient-tertiary-100: var(--alds-color-gradient-black-100);
  --alds-color-background-gradient-tertiary-200: var(--alds-color-gradient-black-200);
  --alds-color-background-gradient-tertiary-300: var(--alds-color-gradient-black-100);
  --alds-color-background-gradient-tertiary-400: var(--alds-color-gradient-black-100);
  --alds-color-background-gradient-tertiary-500: var(--alds-color-gradient-black-300);
  --alds-color-background-gradient-tertiary-600: var(--alds-color-gradient-black-100);
  --alds-color-background-gradient-tertiary-700: var(--alds-color-gradient-black-400);
  --alds-color-background-secondary-blue: var(--alds-color-utility-blue-500);
  --alds-color-background-secondary-pink: var(--alds-color-utility-pink-500);
  --alds-color-background-secondary-purple: var(--alds-color-utility-purple-500);
  --alds-color-background-secondary-indigo: var(--alds-color-utility-indigo-500);
  --alds-color-background-secondary-rose: var(--alds-color-utility-rose-500);
  --alds-color-background-secondary-lime: var(--alds-color-utility-lime-400);
  --alds-color-background-secondary-green: var(--alds-color-utility-green-500);
  --alds-color-border-secondary-green: var(--alds-color-utility-green-500);
  --alds-color-border-secondary-lime: var(--alds-color-utility-lime-400);
  --alds-color-border-gradient-primary-100: var(--alds-color-neutral-100);
  --alds-color-border-gradient-primary-200: var(--alds-color-neutral-black);
  --alds-color-border-gradient-primary-300: var(--alds-color-neutral-100);
  --alds-color-border-gradient-secondary-100: var(--alds-color-neutral-900);
  --alds-color-border-gradient-secondary-200: var(--alds-color-neutral-white);
  --alds-color-border-gradient-secondary-300: var(--alds-color-neutral-900);
}