/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --alds-font-weight-inter-0: 300;
  --alds-font-weight-inter-1: 400;
  --alds-font-weight-inter-2: 500;
  --alds-font-weight-inter-3: 600;
  --alds-font-weight-inter-4: 700;
  --alds-font-weight-inter-5: 400;
}