/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --alds-color-brand-yellow-100: #fffdf3;
  --alds-color-brand-yellow-200: #fff8db;
  --alds-color-brand-yellow-300: #ffe890;
  --alds-color-brand-yellow-400: #fbd43d;
  --alds-color-brand-yellow-500: #fac805;
  --alds-color-brand-yellow-600: #c29c04;
  --alds-color-brand-yellow-700: #8c6f03;
  --alds-color-brand-yellow-800: #524302;
  --alds-color-brand-yellow-900: #1c1601;
  --alds-color-neutral-100: #f6f6f6;
  --alds-color-neutral-200: #d0d2d5;
  --alds-color-neutral-300: #b3b6b8;
  --alds-color-neutral-400: #9699a0;
  --alds-color-neutral-500: #7a7e87;
  --alds-color-neutral-600: #61646b;
  --alds-color-neutral-700: #484a4f;
  --alds-color-neutral-800: #313337;
  --alds-color-neutral-900: #1c1d1f;
  --alds-color-neutral-black: #000000;
  --alds-color-neutral-white: #ffffff;
  --alds-color-utility-orange-100: #fff6e6;
  --alds-color-utility-orange-200: #fee4b3;
  --alds-color-utility-orange-300: #fed281;
  --alds-color-utility-orange-400: #fec04e;
  --alds-color-utility-orange-500: #fdae1c;
  --alds-color-utility-orange-600: #e39403;
  --alds-color-utility-orange-700: #b17301;
  --alds-color-utility-orange-800: #7e5200;
  --alds-color-utility-orange-900: #4c3101;
  --alds-color-utility-green-100: #e8fdf4;
  --alds-color-utility-green-200: #b9f8db;
  --alds-color-utility-green-300: #8bf4c3;
  --alds-color-utility-green-400: #5cefab;
  --alds-color-utility-green-500: #2dea93;
  --alds-color-utility-green-600: #15d179;
  --alds-color-utility-green-700: #0ca35d;
  --alds-color-utility-success-800: #0e7442;
  --alds-color-utility-success-900: #084628;
  --alds-color-utility-red-100: #fde9e7;
  --alds-color-utility-red-200: #fbbbb8;
  --alds-color-utility-red-300: #f69087;
  --alds-color-utility-red-400: #f26359;
  --alds-color-utility-red-500: #ef362a;
  --alds-color-utility-red-600: #d51d0f;
  --alds-color-utility-red-700: #a6180d;
  --alds-color-utility-red-800: #771009;
  --alds-color-utility-red-900: #470a05;
  --alds-color-utility-pink-100: #fbe7f3;
  --alds-color-utility-pink-200: #fbcfe8;
  --alds-color-utility-pink-300: #f9a7d4;
  --alds-color-utility-pink-400: #f471b7;
  --alds-color-utility-pink-500: #ec4899;
  --alds-color-utility-pink-600: #db2877;
  --alds-color-utility-pink-700: #be195d;
  --alds-color-utility-pink-800: #9d174d;
  --alds-color-utility-pink-900: #831743;
  --alds-color-utility-purple-100: #fae8ff;
  --alds-color-utility-purple-200: #f5d0fe;
  --alds-color-utility-purple-300: #d8b4fe;
  --alds-color-utility-purple-400: #c084fc;
  --alds-color-utility-purple-500: #a855f7;
  --alds-color-utility-purple-600: #9334e9;
  --alds-color-utility-purple-700: #7e22ce;
  --alds-color-utility-purple-800: #6b21a8;
  --alds-color-utility-purple-900: #581c87;
  --alds-color-utility-indigo-100: #e0e7ff;
  --alds-color-utility-indigo-200: #c7d2fe;
  --alds-color-utility-indigo-300: #a5b4fd;
  --alds-color-utility-indigo-400: #818cf8;
  --alds-color-utility-indigo-500: #6466f1;
  --alds-color-utility-indigo-600: #5046e6;
  --alds-color-utility-indigo-700: #4338ca;
  --alds-color-utility-indigo-800: #3730a3;
  --alds-color-utility-indigo-900: #302e81;
  --alds-color-utility-blue-100: #dbe9fe;
  --alds-color-utility-blue-200: #bfdbfe;
  --alds-color-utility-blue-300: #92c5fd;
  --alds-color-utility-blue-400: #60a5fa;
  --alds-color-utility-blue-500: #3c82f6;
  --alds-color-utility-blue-600: #2463eb;
  --alds-color-utility-blue-700: #1c4ed8;
  --alds-color-utility-blue-800: #1d40ae;
  --alds-color-utility-blue-900: #1f3a8a;
  --alds-color-utility-rose-100: #ffe4e6;
  --alds-color-utility-rose-200: #fecdd3;
  --alds-color-utility-rose-300: #fda4af;
  --alds-color-utility-rose-400: #fb7185;
  --alds-color-utility-rose-500: #f43f5f;
  --alds-color-utility-rose-600: #e11d48;
  --alds-color-utility-rose-700: #be133c;
  --alds-color-utility-rose-800: #9f1339;
  --alds-color-utility-rose-900: #881337;
  --alds-color-utility-gray-100: #f3f4f6;
  --alds-color-utility-gray-200: #e5e7eb;
  --alds-color-utility-gray-300: #d1d5db;
  --alds-color-utility-gray-400: #9ca3af;
  --alds-color-utility-gray-500: #6b7280;
  --alds-color-utility-gray-600: #4b5563;
  --alds-color-utility-gray-700: #374151;
  --alds-color-utility-gray-800: #1f2937;
  --alds-color-utility-gray-900: #101827;
  --alds-color-gradient-orange-100: #f68b2e;
  --alds-color-gradient-orange-200: #f6bb5c;
  --alds-color-gradient-yellow-100: #fbd029;
  --alds-color-gradient-yellow-200: #eacc81;
  --alds-color-gradient-yellow-300: #f0c966;
  --alds-color-shadow-color-4: #0000000a;
  --alds-color-shadow-color-8: #00000014;
  --alds-color-shadow-color-12: #0000001f;
  --alds-color-shadow-color-16: #00000029;
  --alds-color-shadow-color-20: #00000033;
  --alds-color-utility-lime-100: #ecfccb;
  --alds-color-utility-lime-200: #d9f99d;
  --alds-color-utility-lime-300: #bef264;
  --alds-color-utility-lime-400: #a3e635;
  --alds-color-utility-lime-500: #84cc16;
  --alds-color-utility-lime-600: #65a30d;
  --alds-color-utility-lime-700: #4d7c0f;
  --alds-color-utility-lime-800: #3f6212;
  --alds-color-utility-lime-900: #365314;
  --alds-color-gradient-black-100: #000000;
  --alds-color-gradient-black-200: #080808;
  --alds-color-gradient-black-300: #171717;
  --alds-color-gradient-black-400: #202020;
  --alds-color-transparent-black-100: #0000001a;
  --alds-color-transparent-black-200: #00000033;
  --alds-color-transparent-black-300: #0000004d;
  --alds-color-transparent-black-400: #00000066;
  --alds-color-transparent-black-500: #00000080;
  --alds-color-transparent-black-600: #00000099;
  --alds-color-transparent-black-700: #000000b2;
  --alds-color-transparent-black-800: #000000cc;
  --alds-color-transparent-black-900: #000000e5;
  --alds-color-transparent-black-1000: #000000fa;
  --alds-color-transparent-white-50: #ffffff0d;
  --alds-color-transparent-white-200: #ffffff33;
  --alds-color-transparent-white-300: #ffffff4d;
  --alds-color-transparent-white-400: #ffffff66;
  --alds-color-transparent-white-500: #ffffff80;
  --alds-color-transparent-white-600: #ffffff99;
  --alds-color-transparent-white-700: #ffffffb2;
  --alds-color-transparent-white-800: #ffffffcc;
  --alds-color-transparent-white-900: #ffffffe5;
  --alds-color-transparent-white-1000: #fffffffa;
  --alds-color-transparent-white-100: #ffffff1a;
  --alds-color-content-utility-error-active: var(--alds-color-utility-red-500);
  --alds-color-content-utility-error-hover: var(--alds-color-utility-red-600);
  --alds-color-content-utility-error-focus: var(--alds-color-utility-red-400);
  --alds-color-content-utility-error-pressed: var(--alds-color-utility-red-700);
  --alds-color-content-utility-error-subtle: var(--alds-color-utility-red-100);
  --alds-color-content-utility-success-active: var(--alds-color-utility-green-600);
  --alds-color-content-utility-success-hover: var(--alds-color-utility-green-600);
  --alds-color-content-utility-success-focus: var(--alds-color-utility-green-400);
  --alds-color-content-utility-success-pressed: var(--alds-color-utility-green-700);
  --alds-color-content-utility-success-subtle: var(--alds-color-utility-green-100);
  --alds-color-content-utility-warning-active: var(--alds-color-utility-orange-500);
  --alds-color-content-utility-warning-hover: var(--alds-color-utility-orange-600);
  --alds-color-content-utility-warning-focus: var(--alds-color-utility-orange-400);
  --alds-color-content-utility-warning-pressed: var(--alds-color-utility-orange-700);
  --alds-color-content-utility-warning-subtle: var(--alds-color-utility-orange-100);
  --alds-color-content-utility-info-active: var(--alds-color-utility-gray-500);
  --alds-color-content-utility-info-hover: var(--alds-color-utility-gray-600);
  --alds-color-content-utility-info-focus: var(--alds-color-utility-gray-400);
  --alds-color-content-utility-info-pressed: var(--alds-color-utility-gray-700);
  --alds-color-content-utility-info-subtle: var(--alds-color-utility-gray-100);
  --alds-color-content-secondary-blue: var(--alds-color-utility-blue-500);
  --alds-color-content-secondary-pink: var(--alds-color-utility-pink-500);
  --alds-color-content-secondary-purple: var(--alds-color-utility-purple-500);
  --alds-color-content-secondary-indigo: var(--alds-color-utility-indigo-500);
  --alds-color-content-secondary-rose: var(--alds-color-utility-rose-500);
  --alds-color-content-disabled-error: var(--alds-color-utility-red-300);
  --alds-color-content-disabled-success: var(--alds-color-utility-green-200);
  --alds-color-content-disabled-warning: var(--alds-color-utility-orange-200);
  --alds-color-content-disabled-info: var(--alds-color-utility-gray-200);
  --alds-color-content-disabled-default: var(--alds-color-neutral-500);
  --alds-color-content-disabled-brand: var(--alds-color-brand-yellow-200);
  --alds-color-content-transparent-primary: var(--alds-color-transparent-black-100);
  --alds-color-content-transparent-secondary: var(--alds-color-transparent-black-200);
  --alds-color-content-transparent-tertiary: var(--alds-color-transparent-black-300);
  --alds-color-content-brand-primary-active: var(--alds-color-brand-yellow-500);
  --alds-color-content-brand-primary-hover: var(--alds-color-brand-yellow-600);
  --alds-color-content-brand-primary-focus: var(--alds-color-brand-yellow-400);
  --alds-color-content-brand-primary-pressed: var(--alds-color-brand-yellow-700);
  --alds-color-content-brand-primary-subtle: var(--alds-color-brand-yellow-100);
  --alds-color-content-brand-secondary-hover: var(--alds-color-brand-yellow-500);
  --alds-color-content-brand-secondary-active: var(--alds-color-brand-yellow-400);
  --alds-color-content-brand-secondary-focus: var(--alds-color-brand-yellow-600);
  --alds-color-content-brand-secondary-pressed: var(--alds-color-brand-yellow-600);
  --alds-color-content-brand-secondary-subtle: var(--alds-color-brand-yellow-200);
  --alds-color-content-default-primary-hover: var(--alds-color-neutral-700);
  --alds-color-content-default-primary-active: var(--alds-color-neutral-900);
  --alds-color-content-default-primary-focus: var(--alds-color-neutral-800);
  --alds-color-content-default-primary-pressed: var(--alds-color-neutral-800);
  --alds-color-content-default-primary-subtle: var(--alds-color-neutral-500);
  --alds-color-content-default-secondary-hover: var(--alds-color-neutral-700);
  --alds-color-content-default-secondary-active: var(--alds-color-neutral-600);
  --alds-color-content-default-secondary-focus: var(--alds-color-neutral-800);
  --alds-color-content-default-secondary-pressed: var(--alds-color-neutral-800);
  --alds-color-content-default-secondary-subtle: var(--alds-color-neutral-300);
  --alds-color-content-default-placeholder-hover: var(--alds-color-neutral-500);
  --alds-color-content-default-placeholder-active: var(--alds-color-neutral-400);
  --alds-color-content-default-placeholder-focus: var(--alds-color-neutral-500);
  --alds-color-content-default-placeholder-pressed: var(--alds-color-neutral-600);
  --alds-color-content-knockout-black: var(--alds-color-neutral-black);
  --alds-color-content-knockout-white: var(--alds-color-neutral-white);
  --alds-color-background-default-primary-hover: var(--alds-color-neutral-200);
  --alds-color-background-default-primary-active: var(--alds-color-neutral-100);
  --alds-color-background-default-primary-focus: var(--alds-color-neutral-200);
  --alds-color-background-default-primary-pressed: var(--alds-color-neutral-300);
  --alds-color-background-default-primary-subtle: var(--alds-color-neutral-200);
  --alds-color-background-default-secondary-hover: var(--alds-color-neutral-400);
  --alds-color-background-default-secondary-active: var(--alds-color-neutral-200);
  --alds-color-background-default-secondary-focus: var(--alds-color-neutral-300);
  --alds-color-background-default-secondary-pressed: var(--alds-color-neutral-500);
  --alds-color-background-default-secondary-subtle: var(--alds-color-neutral-100);
  --alds-color-background-gradient-primary-100: var(--alds-color-gradient-orange-100);
  --alds-color-background-gradient-primary-200: var(--alds-color-gradient-orange-200);
  --alds-color-background-gradient-secondary-100: var(--alds-color-gradient-yellow-100);
  --alds-color-background-gradient-secondary-200: var(--alds-color-gradient-yellow-200);
  --alds-color-background-gradient-secondary-300: var(--alds-color-gradient-yellow-300);
  --alds-color-background-brand-primary-hover: var(--alds-color-brand-yellow-600);
  --alds-color-background-brand-primary-active: var(--alds-color-brand-yellow-500);
  --alds-color-background-brand-primary-focus: var(--alds-color-brand-yellow-400);
  --alds-color-background-brand-primary-pressed: var(--alds-color-brand-yellow-700);
  --alds-color-background-brand-primary-subtle: var(--alds-color-brand-yellow-100);
  --alds-color-background-brand-secondary-hover: var(--alds-color-brand-yellow-300);
  --alds-color-background-brand-secondary-active: var(--alds-color-brand-yellow-100);
  --alds-color-background-brand-secondary-focus: var(--alds-color-brand-yellow-200);
  --alds-color-background-brand-secondary-pressed: var(--alds-color-brand-yellow-400);
  --alds-color-background-brand-secondary-subtle: var(--alds-color-brand-yellow-200);
  --alds-color-background-disabled-error: var(--alds-color-utility-red-100);
  --alds-color-background-disabled-success: var(--alds-color-utility-green-100);
  --alds-color-background-disabled-warning: var(--alds-color-utility-orange-100);
  --alds-color-background-disabled-info: var(--alds-color-utility-gray-100);
  --alds-color-background-disabled-brand: var(--alds-color-brand-yellow-300);
  --alds-color-background-disabled-default: var(--alds-color-neutral-200);
  --alds-color-background-utility-error-active: var(--alds-color-utility-red-400);
  --alds-color-background-utility-error-hover: var(--alds-color-utility-red-500);
  --alds-color-background-utility-error-focus: var(--alds-color-utility-red-500);
  --alds-color-background-utility-error-pressed: var(--alds-color-utility-red-600);
  --alds-color-background-utility-error-subtle: var(--alds-color-utility-red-100);
  --alds-color-background-utility-success-active: var(--alds-color-utility-green-400);
  --alds-color-background-utility-success-hover: var(--alds-color-utility-green-500);
  --alds-color-background-utility-success-focus: var(--alds-color-utility-green-500);
  --alds-color-background-utility-success-pressed: var(--alds-color-utility-green-600);
  --alds-color-background-utility-success-subtle: var(--alds-color-utility-green-100);
  --alds-color-background-utility-warning-active: var(--alds-color-utility-orange-400);
  --alds-color-background-utility-warning-hover: var(--alds-color-utility-orange-500);
  --alds-color-background-utility-warning-focus: var(--alds-color-utility-orange-500);
  --alds-color-background-utility-warning-pressed: var(--alds-color-utility-orange-600);
  --alds-color-background-utility-warning-subtle: var(--alds-color-utility-orange-100);
  --alds-color-background-utility-info-active: var(--alds-color-utility-gray-400);
  --alds-color-background-utility-info-hover: var(--alds-color-utility-gray-500);
  --alds-color-background-utility-info-focus: var(--alds-color-utility-gray-500);
  --alds-color-background-utility-info-pressed: var(--alds-color-utility-gray-600);
  --alds-color-background-utility-info-subtle: var(--alds-color-utility-gray-100);
  --alds-color-background-transparent-primary: var(--alds-color-transparent-white-50);
  --alds-color-background-transparent-secondary: var(--alds-color-transparent-white-200);
  --alds-color-background-transparent-tertiary: var(--alds-color-transparent-white-300);
  --alds-color-background-knockout-white: var(--alds-color-neutral-white);
  --alds-color-background-knockout-black: var(--alds-color-neutral-black);
  --alds-color-border-brand-primary-active: var(--alds-color-brand-yellow-500);
  --alds-color-border-brand-primary-hover: var(--alds-color-brand-yellow-600);
  --alds-color-border-brand-primary-focus: var(--alds-color-brand-yellow-400);
  --alds-color-border-brand-primary-pressed: var(--alds-color-brand-yellow-700);
  --alds-color-border-brand-primary-subtle: var(--alds-color-brand-yellow-100);
  --alds-color-border-brand-secondary-active: var(--alds-color-brand-yellow-300);
  --alds-color-border-brand-secondary-hover: var(--alds-color-brand-yellow-500);
  --alds-color-border-brand-secondary-focus: var(--alds-color-brand-yellow-400);
  --alds-color-border-brand-secondary-pressed: var(--alds-color-brand-yellow-600);
  --alds-color-border-brand-secondary-subtle: var(--alds-color-brand-yellow-100);
  --alds-color-border-default-primary-hover: var(--alds-color-neutral-400);
  --alds-color-border-default-primary-active: var(--alds-color-neutral-200);
  --alds-color-border-default-primary-focus: var(--alds-color-neutral-300);
  --alds-color-border-default-primary-pressed: var(--alds-color-neutral-500);
  --alds-color-border-default-primary-subtle: var(--alds-color-neutral-100);
  --alds-color-border-default-secondary-active: var(--alds-color-neutral-400);
  --alds-color-border-default-secondary-hover: var(--alds-color-neutral-600);
  --alds-color-border-default-secondary-focus: var(--alds-color-neutral-500);
  --alds-color-border-default-secondary-pressed: var(--alds-color-neutral-700);
  --alds-color-border-default-secondary-subtle: var(--alds-color-neutral-200);
  --alds-color-border-disabled-default: var(--alds-color-neutral-300);
  --alds-color-border-disabled-info: var(--alds-color-utility-gray-200);
  --alds-color-border-disabled-warning: var(--alds-color-utility-orange-200);
  --alds-color-border-disabled-success: var(--alds-color-utility-green-200);
  --alds-color-border-disabled-error: var(--alds-color-utility-red-200);
  --alds-color-border-disabled-brand: var(--alds-color-brand-yellow-100);
  --alds-color-border-utility-error-active: var(--alds-color-utility-red-400);
  --alds-color-border-utility-error-hover: var(--alds-color-utility-red-600);
  --alds-color-border-utility-error-focus: var(--alds-color-utility-red-500);
  --alds-color-border-utility-error-pressed: var(--alds-color-utility-red-700);
  --alds-color-border-utility-error-subtle: var(--alds-color-utility-red-100);
  --alds-color-border-utility-success-active: var(--alds-color-utility-green-500);
  --alds-color-border-utility-success-hover: var(--alds-color-utility-green-600);
  --alds-color-border-utility-success-focus: var(--alds-color-utility-green-500);
  --alds-color-border-utility-success-pressed: var(--alds-color-utility-green-700);
  --alds-color-border-utility-success-subtle: var(--alds-color-utility-green-100);
  --alds-color-border-utility-warning-active: var(--alds-color-utility-orange-400);
  --alds-color-border-utility-warning-hover: var(--alds-color-utility-orange-600);
  --alds-color-border-utility-warning-focus: var(--alds-color-utility-orange-500);
  --alds-color-border-utility-warning-pressed: var(--alds-color-utility-orange-700);
  --alds-color-border-utility-warning-subtle: var(--alds-color-utility-orange-100);
  --alds-color-border-utility-info-active: var(--alds-color-utility-gray-400);
  --alds-color-border-utility-info-hover: var(--alds-color-utility-gray-600);
  --alds-color-border-utility-info-focus: var(--alds-color-utility-gray-500);
  --alds-color-border-utility-info-pressed: var(--alds-color-utility-gray-700);
  --alds-color-border-utility-info-subtle: var(--alds-color-utility-gray-100);
  --alds-color-border-secondary-blue: var(--alds-color-utility-blue-500);
  --alds-color-border-secondary-pink: var(--alds-color-utility-pink-500);
  --alds-color-border-secondary-purple: var(--alds-color-utility-purple-500);
  --alds-color-border-secondary-indigo: var(--alds-color-utility-indigo-500);
  --alds-color-border-secondary-rose: var(--alds-color-utility-rose-500);
  --alds-color-border-knockout-white: var(--alds-color-neutral-white);
  --alds-color-border-knockout-black: var(--alds-color-neutral-black);
  --alds-color-surface-main: var(--alds-color-neutral-white);
  --alds-color-shadow-xs-color: var(--alds-color-shadow-color-4);
  --alds-color-shadow-sm-color: var(--alds-color-shadow-color-8);
  --alds-color-shadow-lg-color: var(--alds-color-shadow-color-12);
  --alds-color-shadow-xl-color: var(--alds-color-shadow-color-16);
  --alds-color-shadow-2xl-color: var(--alds-color-shadow-color-20);
  --alds-color-shadow-md-color: var(--alds-color-shadow-color-16);
  --alds-color-content-secondary-lime: var(--alds-color-utility-lime-500);
  --alds-color-content-secondary-green: var(--alds-color-utility-green-500);
  --alds-color-background-gradient-tertiary-100: var(--alds-color-neutral-200);
  --alds-color-background-gradient-tertiary-200: var(--alds-color-neutral-200);
  --alds-color-background-gradient-tertiary-300: var(--alds-color-neutral-300);
  --alds-color-background-gradient-tertiary-400: var(--alds-color-neutral-300);
  --alds-color-background-gradient-tertiary-500: var(--alds-color-neutral-200);
  --alds-color-background-gradient-tertiary-600: var(--alds-color-neutral-200);
  --alds-color-background-gradient-tertiary-700: var(--alds-color-neutral-300);
  --alds-color-background-secondary-blue: var(--alds-color-utility-blue-500);
  --alds-color-background-secondary-pink: var(--alds-color-utility-pink-500);
  --alds-color-background-secondary-purple: var(--alds-color-utility-purple-500);
  --alds-color-background-secondary-indigo: var(--alds-color-utility-indigo-500);
  --alds-color-background-secondary-rose: var(--alds-color-utility-rose-500);
  --alds-color-background-secondary-lime: var(--alds-color-utility-lime-400);
  --alds-color-background-secondary-green: var(--alds-color-utility-green-500);
  --alds-color-border-secondary-green: var(--alds-color-utility-green-500);
  --alds-color-border-secondary-lime: var(--alds-color-utility-lime-400);
  --alds-color-border-gradient-primary-100: var(--alds-color-neutral-900);
  --alds-color-border-gradient-primary-200: var(--alds-color-neutral-white);
  --alds-color-border-gradient-primary-300: var(--alds-color-neutral-900);
  --alds-color-border-gradient-secondary-100: var(--alds-color-neutral-100);
  --alds-color-border-gradient-secondary-200: var(--alds-color-neutral-black);
  --alds-color-border-gradient-secondary-300: var(--alds-color-neutral-100);
}