/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --alds-line-height-1: 24px;
  --alds-line-height-2: 16px;
  --alds-line-height-3: 20px;
  --alds-line-height-4: 28px;
  --alds-line-height-5: 32px;
  --alds-line-height-6: 36px;
  --alds-line-height-7: 44px;
  --alds-line-height-8: 52px;
  --alds-line-height-10: 64px;
  --alds-line-height-0: 18px;
  --alds-line-height-9: 60px;
}