/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --alds-paragraph-spacing-0: 0px;
  --alds-paragraph-spacing-1: 18px;
  --alds-paragraph-spacing-2: 20px;
  --alds-paragraph-spacing-3: 24px;
  --alds-paragraph-spacing-4: 28px;
  --alds-paragraph-spacing-5: 32px;
  --alds-paragraph-spacing-6: 36px;
  --alds-paragraph-spacing-7: 44px;
  --alds-paragraph-spacing-8: 52px;
  --alds-paragraph-spacing-9: 60px;
  --alds-paragraph-spacing-10: 64px;
}