/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --alds-string-viewport: "large";
  --alds-string-italic: "Italic";
  --alds-string-light: "Light";
  --alds-string-regular: "Regular";
  --alds-string-inter: "Inter";
  --alds-string-semi-bold: "SemiBold";
  --alds-string-medium: "Medium";
  --alds-string-bold: "Bold";
  --alds-string-body-xs-font-family: var(--alds-string-inter);
  --alds-string-body-xs-font-style-light: var(--alds-string-light);
  --alds-string-body-xs-font-style-regular: var(--alds-string-regular);
  --alds-string-body-xs-font-family: var(--alds-string-inter);
  --alds-string-body-xs-font-style-medium: var(--alds-string-medium);
  --alds-string-body-xs-font-family: var(--alds-string-inter);
  --alds-string-body-xs-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-body-xs-font-family: var(--alds-string-inter);
  --alds-string-body-xs-font-style-bold: var(--alds-string-bold);
  --alds-string-body-xs-font-family: var(--alds-string-inter);
  --alds-string-body-xs-font-style-italic: var(--alds-string-italic);
  --alds-string-body-xs-font-family: var(--alds-string-inter);
  --alds-string-body-sm-font-style-light: var(--alds-string-light);
  --alds-string-body-sm-font-family: var(--alds-string-inter);
  --alds-string-body-sm-font-style-regular: var(--alds-string-regular);
  --alds-string-body-sm-font-family: var(--alds-string-inter);
  --alds-string-body-sm-font-style-medium: var(--alds-string-medium);
  --alds-string-body-sm-font-family: var(--alds-string-inter);
  --alds-string-body-sm-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-body-sm-font-family: var(--alds-string-inter);
  --alds-string-body-sm-font-style-bold: var(--alds-string-bold);
  --alds-string-body-sm-font-family: var(--alds-string-inter);
  --alds-string-body-sm-font-style-italic: var(--alds-string-italic);
  --alds-string-body-sm-font-family: var(--alds-string-inter);
  --alds-string-body-md-font-style-light: var(--alds-string-light);
  --alds-string-body-md-font-family: var(--alds-string-inter);
  --alds-string-body-md-font-style-regular: var(--alds-string-regular);
  --alds-string-body-md-font-family: var(--alds-string-inter);
  --alds-string-body-md-font-style-medium: var(--alds-string-medium);
  --alds-string-body-md-font-family: var(--alds-string-inter);
  --alds-string-body-md-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-body-md-font-family: var(--alds-string-inter);
  --alds-string-body-md-font-style-bold: var(--alds-string-bold);
  --alds-string-body-md-font-family: var(--alds-string-inter);
  --alds-string-body-md-font-style-italic: var(--alds-string-italic);
  --alds-string-body-md-font-family: var(--alds-string-inter);
  --alds-string-body-lg-font-style-light: var(--alds-string-light);
  --alds-string-body-lg-font-family: var(--alds-string-inter);
  --alds-string-body-lg-font-style-regular: var(--alds-string-regular);
  --alds-string-body-lg-font-family: var(--alds-string-inter);
  --alds-string-body-lg-font-style-medium: var(--alds-string-medium);
  --alds-string-body-lg-font-family: var(--alds-string-inter);
  --alds-string-body-lg-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-body-lg-font-family: var(--alds-string-inter);
  --alds-string-body-lg-font-style-bold: var(--alds-string-bold);
  --alds-string-body-lg-font-family: var(--alds-string-inter);
  --alds-string-body-lg-font-style-italic: var(--alds-string-italic);
  --alds-string-body-lg-font-family: var(--alds-string-inter);
  --alds-string-body-xl-font-style-light: var(--alds-string-light);
  --alds-string-body-xl-font-family: var(--alds-string-inter);
  --alds-string-body-xl-font-style-regular: var(--alds-string-regular);
  --alds-string-body-xl-font-family: var(--alds-string-inter);
  --alds-string-body-xl-font-style-medium: var(--alds-string-medium);
  --alds-string-body-xl-font-family: var(--alds-string-inter);
  --alds-string-body-xl-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-body-xl-font-family: var(--alds-string-inter);
  --alds-string-body-xl-font-style-bold: var(--alds-string-bold);
  --alds-string-body-xl-font-family: var(--alds-string-inter);
  --alds-string-body-xl-font-style-italic: var(--alds-string-italic);
  --alds-string-body-xl-font-family: var(--alds-string-inter);
  --alds-string-label-sm-font-style-light: var(--alds-string-light);
  --alds-string-label-sm-font-family: var(--alds-string-inter);
  --alds-string-label-sm-font-style-regular: var(--alds-string-regular);
  --alds-string-label-sm-font-family: var(--alds-string-inter);
  --alds-string-label-sm-font-style-medium: var(--alds-string-medium);
  --alds-string-label-sm-font-family: var(--alds-string-inter);
  --alds-string-label-sm-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-label-sm-font-family: var(--alds-string-inter);
  --alds-string-label-sm-font-style-bold: var(--alds-string-bold);
  --alds-string-label-sm-font-family: var(--alds-string-inter);
  --alds-string-label-sm-font-style-italic: var(--alds-string-italic);
  --alds-string-label-sm-font-family: var(--alds-string-inter);
  --alds-string-label-md-font-style-light: var(--alds-string-light);
  --alds-string-label-md-font-family: var(--alds-string-inter);
  --alds-string-label-md-font-style-regular: var(--alds-string-regular);
  --alds-string-label-md-font-family: var(--alds-string-inter);
  --alds-string-label-md-font-style-medium: var(--alds-string-medium);
  --alds-string-label-md-font-family: var(--alds-string-inter);
  --alds-string-label-md-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-label-md-font-family: var(--alds-string-inter);
  --alds-string-label-md-font-style-bold: var(--alds-string-bold);
  --alds-string-label-md-font-family: var(--alds-string-inter);
  --alds-string-label-md-font-style-italic: var(--alds-string-italic);
  --alds-string-label-md-font-family: var(--alds-string-inter);
  --alds-string-label-lg-font-style-light: var(--alds-string-light);
  --alds-string-label-lg-font-family: var(--alds-string-inter);
  --alds-string-label-lg-font-style-regular: var(--alds-string-regular);
  --alds-string-label-lg-font-family: var(--alds-string-inter);
  --alds-string-label-lg-font-style-medium: var(--alds-string-medium);
  --alds-string-label-lg-font-family: var(--alds-string-inter);
  --alds-string-label-lg-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-label-lg-font-family: var(--alds-string-inter);
  --alds-string-label-lg-font-style-bold: var(--alds-string-bold);
  --alds-string-label-lg-font-family: var(--alds-string-inter);
  --alds-string-label-lg-font-style-italic: var(--alds-string-italic);
  --alds-string-label-lg-font-family: var(--alds-string-inter);
  --alds-string-title-sm-font-style-light: var(--alds-string-light);
  --alds-string-title-sm-font-family: var(--alds-string-inter);
  --alds-string-title-sm-font-style-regular: var(--alds-string-regular);
  --alds-string-title-sm-font-family: var(--alds-string-inter);
  --alds-string-title-sm-font-style-medium: var(--alds-string-medium);
  --alds-string-title-sm-font-family: var(--alds-string-inter);
  --alds-string-title-sm-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-title-sm-font-family: var(--alds-string-inter);
  --alds-string-title-sm-font-style-bold: var(--alds-string-bold);
  --alds-string-title-sm-font-family: var(--alds-string-inter);
  --alds-string-title-sm-font-style-italic: var(--alds-string-italic);
  --alds-string-title-sm-font-family: var(--alds-string-inter);
  --alds-string-title-md-font-style-light: var(--alds-string-light);
  --alds-string-title-md-font-family: var(--alds-string-inter);
  --alds-string-title-md-font-style-regular: var(--alds-string-regular);
  --alds-string-title-md-font-family: var(--alds-string-inter);
  --alds-string-title-md-font-style-medium: var(--alds-string-medium);
  --alds-string-title-md-font-family: var(--alds-string-inter);
  --alds-string-title-md-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-title-md-font-family: var(--alds-string-inter);
  --alds-string-title-md-font-style-bold: var(--alds-string-bold);
  --alds-string-title-md-font-family: var(--alds-string-inter);
  --alds-string-title-md-font-style-italic: var(--alds-string-italic);
  --alds-string-title-md-font-family: var(--alds-string-inter);
  --alds-string-title-lg-font-style-light: var(--alds-string-light);
  --alds-string-title-lg-font-family: var(--alds-string-inter);
  --alds-string-title-lg-font-style-regular: var(--alds-string-regular);
  --alds-string-title-lg-font-family: var(--alds-string-inter);
  --alds-string-title-lg-font-style-medium: var(--alds-string-medium);
  --alds-string-title-lg-font-family: var(--alds-string-inter);
  --alds-string-title-lg-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-title-lg-font-family: var(--alds-string-inter);
  --alds-string-title-lg-font-style-bold: var(--alds-string-bold);
  --alds-string-title-lg-font-family: var(--alds-string-inter);
  --alds-string-title-lg-font-style-italic: var(--alds-string-italic);
  --alds-string-title-lg-font-family: var(--alds-string-inter);
  --alds-string-headline-sm-font-style-light: var(--alds-string-light);
  --alds-string-headline-sm-font-family: var(--alds-string-inter);
  --alds-string-headline-sm-font-style-regular: var(--alds-string-regular);
  --alds-string-headline-sm-font-family: var(--alds-string-inter);
  --alds-string-headline-sm-font-style-medium: var(--alds-string-medium);
  --alds-string-headline-sm-font-family: var(--alds-string-inter);
  --alds-string-headline-sm-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-headline-sm-font-family: var(--alds-string-inter);
  --alds-string-headline-sm-font-style-bold: var(--alds-string-bold);
  --alds-string-headline-sm-font-family: var(--alds-string-inter);
  --alds-string-headline-sm-font-style-italic: var(--alds-string-italic);
  --alds-string-headline-sm-font-family: var(--alds-string-inter);
  --alds-string-headline-md-font-style-light: var(--alds-string-light);
  --alds-string-headline-md-font-family: var(--alds-string-inter);
  --alds-string-headline-md-font-style-regular: var(--alds-string-regular);
  --alds-string-headline-md-font-family: var(--alds-string-inter);
  --alds-string-headline-md-font-style-medium: var(--alds-string-medium);
  --alds-string-headline-md-font-family: var(--alds-string-inter);
  --alds-string-headline-md-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-headline-md-font-family: var(--alds-string-inter);
  --alds-string-headline-md-font-style-bold: var(--alds-string-bold);
  --alds-string-headline-md-font-family: var(--alds-string-inter);
  --alds-string-headline-md-font-style-italic: var(--alds-string-italic);
  --alds-string-headline-md-font-family: var(--alds-string-inter);
  --alds-string-headline-lg-font-style-light: var(--alds-string-light);
  --alds-string-headline-lg-font-family: var(--alds-string-inter);
  --alds-string-headline-lg-font-style-regular: var(--alds-string-regular);
  --alds-string-headline-lg-font-family: var(--alds-string-inter);
  --alds-string-headline-lg-font-style-medium: var(--alds-string-medium);
  --alds-string-headline-lg-font-family: var(--alds-string-inter);
  --alds-string-headline-lg-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-headline-lg-font-family: var(--alds-string-inter);
  --alds-string-headline-lg-font-style-bold: var(--alds-string-bold);
  --alds-string-headline-lg-font-family: var(--alds-string-inter);
  --alds-string-headline-lg-font-style-italic: var(--alds-string-italic);
  --alds-string-headline-lg-font-family: var(--alds-string-inter);
  --alds-string-display-sm-font-style-light: var(--alds-string-light);
  --alds-string-display-sm-font-family: var(--alds-string-inter);
  --alds-string-display-sm-font-style-regular: var(--alds-string-regular);
  --alds-string-display-sm-font-family: var(--alds-string-inter);
  --alds-string-display-sm-font-style-medium: var(--alds-string-medium);
  --alds-string-display-sm-font-family: var(--alds-string-inter);
  --alds-string-display-sm-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-display-sm-font-family: var(--alds-string-inter);
  --alds-string-display-sm-font-style-bold: var(--alds-string-bold);
  --alds-string-display-sm-font-family: var(--alds-string-inter);
  --alds-string-display-sm-font-style-italic: var(--alds-string-italic);
  --alds-string-display-sm-font-family: var(--alds-string-inter);
  --alds-string-display-md-font-style-light: var(--alds-string-light);
  --alds-string-display-md-font-family: var(--alds-string-inter);
  --alds-string-display-md-font-style-regular: var(--alds-string-regular);
  --alds-string-display-md-font-family: var(--alds-string-inter);
  --alds-string-display-md-font-style-medium: var(--alds-string-medium);
  --alds-string-display-md-font-family: var(--alds-string-inter);
  --alds-string-display-md-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-display-md-font-family: var(--alds-string-inter);
  --alds-string-display-md-font-style-bold: var(--alds-string-bold);
  --alds-string-display-md-font-family: var(--alds-string-inter);
  --alds-string-display-md-font-style-italic: var(--alds-string-italic);
  --alds-string-display-md-font-family: var(--alds-string-inter);
  --alds-string-display-lg-font-style-light: var(--alds-string-light);
  --alds-string-display-lg-font-family: var(--alds-string-inter);
  --alds-string-display-lg-font-style-regular: var(--alds-string-regular);
  --alds-string-display-lg-font-family: var(--alds-string-inter);
  --alds-string-display-lg-font-style-medium: var(--alds-string-medium);
  --alds-string-display-lg-font-family: var(--alds-string-inter);
  --alds-string-display-lg-font-style-semi-bold: var(--alds-string-semi-bold);
  --alds-string-display-lg-font-family: var(--alds-string-inter);
  --alds-string-display-lg-font-style-bold: var(--alds-string-bold);
  --alds-string-display-lg-font-family: var(--alds-string-inter);
  --alds-string-display-lg-font-style-italic: var(--alds-string-italic);
  --alds-string-display-lg-font-family: var(--alds-string-inter);
}